= render 'shared/side_bar'

.contents
  .right-content
    .header
      .left-header
        .left-header__name
          グループ名
        .left-header__members
          Member:
          .member
            メンバー名
      .right-header
        = link_to "Edit", edit_group_path(@group)

    .messages
      = render @messages

    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__chat__message', placeholder: 'type a message'
        .form__chat
          = f.label :image, class: 'form__chat__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden', style: 'display:none'
        = f.submit 'Send', class: 'form__submit'



